{% extends 'layout.html' %}

{% block content %}
<div class="bigger-about">
    <div class="smaller-about">
        <h2>Quienes Somos...</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea, unde quidem libero dolor, earum magni amet quod maxime at minus a dolore officia!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea, unde quidem libero dolor, earum magni amet quod maxime at minus a dolore officia!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea, unde quidem libero dolor, earum magni amet quod maxime at minus a dolore officia!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea, unde quidem libero dolor, earum magni amet quod maxime at minus a dolore officia!
        </p>
    </div>
</div>
{% endblock %}