{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <h3 class='text-center text-muted mb-3'>Visualización de Movimientos</h3>

  <div class="row">
    <div class="col-8">
      <strong>Busqueda por: {{ tag}}</strong>
    </div>
    <div class="col-4">
      <form action="" method="post" autocomplete="off"> 
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" name="tag" id="tag"  placeholder="Ingrese Comprobante"/> 
          </div>
        <div class="col-6" alignment="left">
          <input type="submit" value="Search" class="form-control btn btn-info " name=""> 
        </div>
      </form> 
    </div>
  </div>

  <p class='text-right'><a href='{{url_for("adminclientes")}}' class='btn btn-success'>Volver</a></p>
  
     <table class='table table-sm'>
        <thead>
          <th>IdMov</th>
          <th>IdCliente</th>
          <th>Fecha</th>
          <th>Tipo Movimiento</th>
          <th>Comprobante</th>
          <th>Puntos</th>
        </thead>
        <tbody>
            {% for mov in movimientos.items %}
            <tr> 
                <td>{{mov.id}}</td>
                <td>{{mov.idcliente}}</td>
                <td>{{mov.fechamov}}</td>
                <td>{{mov.tipomov}}</td>
                <td>{{mov.comprobante}}</td>
                {% if mov.tipomov=='CREDITO' %}
                  <td>{{mov.puntos}}</td> 
                {% else %}   
                  <td>-{{mov.puntos}}</td>
                {% endif %}
                <td><a href='{{url_for("edit_movimiento",idmovimiento=mov.id)}}' class='btn btn-secondary'>EDITAR</a></td>
                <td><a href='{{url_for("email_user_movimiento",idcliente=mov.idcliente)}}' class='btn btn-secondary' onclick='return confirm("ESTÁ SEGURO QUE DESEA ENVIAR UN EMAIL AL CLIENTE?")'>EMAIL</a></td>
                <td><a href='{{url_for("delete_movimiento",idmovimiento=mov.id)}}' class='btn btn-danger' onclick='return confirm("ESTÁ SEGURO QUE DESEA ELIMINAR EL MOVIMIENTO?")'>ELIMINAR</a></td>             
            </tr>
            {%endfor%}
        </tbody>
      </table>

      <!--Controles de paginacion-->
      <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if movimientos.has_prev %}
                          <li class="page-item"> <a class="page-link" href="{{ url_for('vermovimientos', page=movimientos.prev_num) }}">Anterior</a></li>
                      {% else %}
                          <li class="page-item"><a class="page-link btn disabled" href="#">Anterior</a></li>
                      {% endif %}

              {% for page in movimientos.iter_pages(left_edge=3, right_edge=3) %}
                {% if page %}
                  {% if page==movimientos.page %}
                      <li class="page-item active"><a class="page-link" href="{{ url_for('vermovimientos', page=page) }}">{{ page }}</a></li>
                  {% else %}
                      <li class="page-item"><a class="page-link" href="{{ url_for('vermovimientos', page=page) }}">{{ page }}</a></li>
                  {% endif %}
                {% else %}
                    <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
                {% endif %}
              {% endfor %}

                      {% if movimientos.has_next %}
                          <li class="page-item"> <a class="page-link" href="{{ url_for('vermovimientos', page=movimientos.next_num) }}">Siguiente</a></li>
                      {% else %}
                          <li class="page-item"><a class="page-link btn disabled" href="#">Siguiente</a></li>
                      {% endif %}
                    </ul>
        </nav>
</div>
{% endblock %}