{% extends 'layout.html' %}

{% block content %}
<div class="container">
<p class='text-right'><a href='{{url_for("adminclientes")}}' class='btn btn-success'>Volver Atras</a></p>
<div class='row mt-5'>
    <div class='col-4 mx-auto'>
      <h4 class='text-center'>Agregar Cliente Nuevo</h4><hr>
      <form action="{{url_for('agregarcliente')}}" method='post'>
        <div class='form-group'>
            <label for="name">Apellido: </label>
            <input type='text' id="apellido" name='apellido' required class='form-control'>  
        </div>
        <div class='form-group'>
          <label for="name">Nombre: </label>
          <input type='text' id="nombre" name='nombre' required class='form-control'>  
        </div>
        <div class='form-group'>
          <label for="name">Cumpleaños: </label>
          <input type="date" id="fechanac" name='fechanac' required class='form-control'>  
        </div>
        <div class='form-group'>
          <label for="name">Teléfono de Contacto: </label>
          <input type='text' id="telefono" name='telefono' placeholder="11 1222 1222" required class='form-control'>  
        </div>
        <div class='form-group'>
          <label>Email:</label>
          <input type='email' id="email" name='email' placeholder="mail@dominio.com" required class='form-control'>  
        </div>
        <div class='form-group'>
          <label>Contraseña:</label>
          <input type='password' id="password" name="password" required class='form-control'>  
        </div>
        <div class='form-group'>
            <label><input type="checkbox" name="tipo">Administrador</label>
              
        </div>
        <input type='submit' id="send-signup" name='signup' value='Guardar' class='btn btn-success'>
      </form>
      <div class="separador"></div>
    </div>
  </div>
</div>
{% endblock %}

