{% extends 'layout.html' %}

{% block content %}
<div class="bigger-index">
    <div class="smaller-index">
        <h1>Bienvenidos a HIGHCLIFFE Restaurant</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea, unde quidem libero dolor, earum magni amet quod maxime at minus a dolore officia!
        Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea,
        Nobis necessitatibus molestiae, eius distinctio dignissimos quas ea,hhfdkfh dkfheubeudndk.
    </p>
    <p class='text-center'><a href='{{url_for("promos")}}' class='btn btn-info'>Promociones y Canjes...</a></p>
    </div>
</div>
{% endblock %}

