{% extends 'layout.html' %}

{% block content %}
<div class="bigger-privacy">
    <div class="smaller-privacy">
        <h2>Nuestra Política de Privacidad</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        Lorem ipsum dolor sit, amet consectetur adipisicing elit
        </p>
    </div>
</div>
{% endblock %}
