{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="container p-3 my-3 bg-dark text-white">
        <H6 class="text-center">NUESTRAS PROMOCIONES:</H6>
  </div>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="/static/img/promo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Felices Fiestas</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore debitis architecto vel, dolor molestiae rem possimus qui nisi sed asperiores laborum expedita nemo repellendus facilis beatae a fugit, error cupiditate. Praesentium cumque eveniet perspiciatis asperiores voluptates, modi minima repellat ullam fugit quaerat, molestiae, ratione sint officiis ab numquam optio odio?</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/img/promo2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cena de Fín de Año</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam expedita quo repellat, tempora fuga, asperiores quis laudantium dolorum quam itaque excepturi! Repellat, perferendis dolor! Aliquam fugiat officiis asperiores, labore recusandae minus nostrum quaerat aspernatur facere, maiores et a hic alias quidem nihil ratione dignissimos, autem nobis quis? Optio, excepturi adipisci?</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/img/promo3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Enero con Amigos</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum harum voluptates aperiam? Commodi, minus! Nostrum, delectus! Delectus voluptates iste facere?</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/img/promo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cumpleaños</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, necessitatibus?</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
      </div>
      <div class="container p-3 my-3 bg-dark text-white">
            <H6 class="text-center">PUNTOS Y CANJES:</H6>
          <p class="font-weight-normal text-center">
              Registrandote en nuestro plan de "Fidelización del Cliente",
              tus consumos te otorgan puntos que podrán ser canjeados por beneficios en nuestro Restaurant:
          </p>
      </div>
      <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="/static/img/canje1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Postres</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dicta veniam eos alias repellat consectetur?</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/img/canje2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Entradas</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, vero.</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/img/canje3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vinos</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn btn-primary">Detalles...</a>
            </div>
        </div>
      </div>
      <div class= "separador">
      </div>
</div>

{% endblock %}
